@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --spacing: 20px;
  --small-spacing: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 50px;
  background: linear-gradient(270deg, #bffcc6, #ffffd1, #ffcbc1);
}

main {
  margin: auto;
  padding: var(--spacing);
  background-color: #ffffff7c;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  box-shadow: 0 0 25px #0000003a;
  border-radius: 20px;
}

.screen {
  width: 100%;
  box-shadow: 0 0 25px #0000003a;
  text-align: right;
  border-radius: 15px;
  background-color: #ffffff;
}

.screen > p {
  font-size: 4rem;
  padding: var(--small-spacing) var(--spacing);
  height: 100px;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 95px);
  grid-template-rows: repeat(5, 70px);
  justify-content: center;
  gap: var(--spacing);
}

.buttons > .calc-button {
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  box-shadow: 0 0 25px #0000003a;
  cursor: pointer;
  transition: transform 0.1s;
}

.buttons > .calc-button:hover {
  transform: scale(1.1);
}

.buttons > .calc-button:active {
  background-color: #2c2c2c;
  color: #ffffff;
}

.buttons > .operators {
  background-color: #ff4621;
  color: #ffffff;
}

.buttons > .equal {
  background-color: #4fb35a;
  color: #ffffff;
}

.buttons > .double {
  grid-column: 1/3;
}

.buttons > .triple {
  grid-column: 1/4;
}

@media (max-width: 768px) {
  main {
    max-width: calc(500px * 0.75);
    box-shadow: 0 0 20px #0000003a;
    border-radius: 15px;
  }

  .screen {
    box-shadow: 0 0 20px #0000003a;
    border-radius: 12px;
  }

  .screen > p {
    font-size: calc(4rem * 0.75);
    height: calc(100px * 0.75);
  }

  .buttons {
    grid-template-columns: repeat(4, calc(95px * 0.75));
    grid-template-rows: repeat(5, calc(70px * 0.75));
    gap: calc(var(--spacing) * 0.75);
  }

  .buttons > .calc-button {
    border-radius: 12px;
    font-size: calc(1.75rem * 0.75);
    box-shadow: 0 0 15px #0000003a;
  }
}

@media (max-width: 480px) {
  body {
    padding: 30px;
  }

  main {
    padding: 15px;
    max-width: calc(500px * 0.5);
    box-shadow: 0 0 15px #0000003a;
    border-radius: 10px;
  }

  .screen {
    box-shadow: 0 0 15px #0000003a;
    border-radius: 8px;
  }

  .screen > p {
    font-size: calc(4rem * 0.4);
    height: calc(100px * 0.5);
  }

  .buttons {
    grid-template-columns: repeat(4, calc(95px * 0.5));
    grid-template-rows: repeat(5, calc(70px * 0.5));
    gap: calc(var(--spacing) * 0.5);
  }

  .buttons > .calc-button {
    border-radius: 8px;
    font-size: calc(1.75rem * 0.5);
    box-shadow: 0 0 15px #0000003a;
  }
}
